{
	order jwtauth before basicauth
}

http:// {
	log {
		level ERROR
	}

	jwtauth {
		from_header Cf-Access-Jwt-Assertion
		from_cookies CF_Authorization
		issuer_whitelist {$JWT_ISS}
		jwk_url {$JWK_URL}
	}

	reverse_proxy unix//var/run/rclone.sock
}
